.loader 
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%; 
  width: 3rem
  height: 3rem

.picked-hero
  width: 20%

.edited-hero
  width: 30%

.team 
    display: block;
    left: 0;
    position: absolute;
    top: -2%;

.heroSearchBox
  border-radius: 20px;

#loading
  position: fixed;
  top: 50%;
  left: 50%;

.top-left 
  position: absolute;
  top: 5px;
  left: 5px;

.team-button
  height: 100px;
  width: 100px;
  cursor: pointer;

.radiant-border
  border: 4px #28a745 solid;
  border-radius: 10px;

.dire-border
  border: 4px #dc3545 solid;
  border-radius: 10px;

.dark-background
 background-color: rgb(24, 26, 27);
 color: white;

.search-input
  z-index: 1000000;
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: 80px;
  text-align: center
  oveflow-x: hidden;
  text-transform: uppercase;
